{
  "extends": "airbnb",
  "parser": "@babel/eslint-parser",
  "parserOptions": {
      "requireConfigFile": false,
      "babelOptions": {
        "presets": ["@babel/preset-react"]
      }
  },
  "rules": {
    "react/jsx-filename-extension": [1, {"extensions": [".js"] }],
    "react/react-in-jsx-scope": 0,
    "react/function-component-definition": 0,
    "eol-last": 0,
    "linebreak-style": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": false, "optionalDependencies": false, "peerDependencies": false}]
  },
  "env" : {
    "browser": true
  }
}