@import '../../common.module.scss';

.container {
  height: 200px;
  padding: 10px 5px 0 0;
  :global(.adm-mask) {
    background-color: #000!important;
  }
}

.img {
  position: absolute;
  width: 50%;
}

.wrapper {
  position: relative;
  border-radius: 20px;
  border: solid 1px $tGrayWhite;
  overflow: hidden;
  height: 200px;
  width: 100%;
}

.wrapper1 {
  :global(.img0) {
    left: 0;
    width: 100%;
    height: 200px;
  }
}

.wrapper2 {
  :global(.img0) {
    border-right: solid 2px #fff;
    left: 0;
    width: 50%;
    height: 200px;
  }
  :global(.img1) {
    border-left: solid 2px #fff;
    left: 50%;
    width: 50%;
    height: 200px;
  }
}

.wrapper3 {
  :global(.img0) {
    border-right: solid 2px #fff;
    left: 0;
    height: 200px;
  }
  :global(.img1) {
    border-left: solid 2px #fff;
    border-bottom: solid 2px #fff;
    left: 50%;
    height: 100px;
  }
  :global(.img2) {
    border-left: solid 2px #fff;
    border-top: solid 2px #fff;
    left: 50%;
    height: 100px;
    top: 100px;
  }
}

.wrapper4 {
  :global(.img0) {
    border-right: solid 2px #fff;
    border-bottom: solid 2px #fff;
    left: 0;
    height: 100px;
  }
  :global(.img1) {
    border-left: solid 2px #fff;
    border-bottom: solid 2px #fff;
    left: 50%;
    height: 100px;
  }
  :global(.img2) {
    border-left: solid 2px #fff;
    border-top: solid 2px #fff;
    left: 50%;
    height: 100px;
    top: 100px;
  }
  :global(.img3) {
    border-right: solid 2px #fff;
    border-top: solid 2px #fff;
    left: 0;
    height: 100px;
    top: 100px;
  }
}