.birthdayInput {
  composes: input from '../../common.module.css';
  margin-top: 10px;
}

.birthdayTitleItem {
  color: tblue;
}

.birthdayPlaceHolder {
  height: 30px;
  line-height: 30px;
  font-size: 15px;
}

.datePickerIcon {
  height: 20px;
  float: right;
}